.userInfo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  gap: 12px;

  .avt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    .dot {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10px;
      height: 10px;
      background-color: green;
      z-index: 99;
      border-radius: 50%;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  

  .details {
    display: flex;
    flex-direction: column;
    &__info {
      display: flex;
      align-items: center;
      .tick {
        margin-left: 4px;
        width: 14px;
        height: 14px;
        color: #2D88FF;
      }
    }

    .name {
      color: #000 !important;
      font-weight: 500;
    }

    .date {
      font-size: 12px;
    }
  }
}